/.hello.mod.o.cmd
/.hello.o.cmd
/hello.mod.c
/hello.ko
/hello.mod.o
/hello.o
/modules.order
/Module.symvers
/.tmp_versions
/.hello.ko.cmd
/misc/qtpro.pro.user
*.cmd
*.o
/surffs.mod.c
*.ko
*.bak
/up.sh
/qup.sh
/fup.sh
/eup.sh
/down.sh
/zup.sh
/wup.sh
/misc
